.container {
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  padding-left: 2%;
  padding-top: 2%;
}

.header {
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: cursive;
  font-size: xxx-large;
}

.board-list {
  grid-row: 2/3;
  grid-column: 1/2
}

.board-info {
  grid-row: 2/3;
  grid-column: 2/3
}

.new-board-form {
  grid-row: 2/3;
  grid-column: 3/4 
}

.card-container {
  grid-row: 3/4;
  grid-column: 1/3
}

.new-card-form {
  grid-row: 3/4;
  grid-column: 3/4
}
